/* para acomodar sin necesidad de br */
@import url("https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap");
.formulario input {
  display: block;
}

/* propiedad overflow */
.formulario {
  display: block;
}

.taylor_shop {
  display: flex;
  /*siempre poner display flex  */
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: none;
  /* min-height: 600px; */
  font-family: sans-serif;
  font-size: small;
}

.letra-producto {
  font-family: sans-serif;
  font-size: small;
}

/* desordenar para volver a ordenar */
.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px 2px maroon;
  padding-bottom: 10px;
  margin: 5px;
  font-family: sans-serif;
  /* margin para separar las cartas */
}

.producto img {
  width: 150px;
}

/* poner img al lado para modificar, con una propiedad */
.producto button {
  padding: 5px 15px;
  margin: 10px;
  border-radius: 15px;
  background-color: maroon;
  color: white;
}

.button2 {
  padding: 5px 15px;
  margin: 10px;
  border-radius: 15px;
  background-color: maroon;
  color: white;
}

/* modificar el boton de compra/entrada */
/* -----------BOTON FIJO--------- */
/* ropa/grids */
.tay_merch {
  /* border: maroon solid 3px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* repeat para simplificar */
  /* grid-template-rows: repeat(2, 150px);  */
  column-gap: 20px;
  align-items: center;
  /* height: 400px; */
  justify-content: center;
  /* sacar alturas si se solapa */
}

.tay_merch div {
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 2px maroon;
  font-family: sans-serif;
}

.tay_merch p {
  font-size: 1rem;
}

.tay_merch img {
  height: 100px;
}

.grid-galeria {
  display: grid;
  justify-content: center;
  grid-template-areas: "img1 img1 img2 img2 " "img3 img4 img4 img5 " "img3 img6 img6 img5 ";
  grid-template-rows: repeat(1, 100px);
  grid-template-columns: repeat(3, 100px);
}

.grid-galeria div {
  overflow: hidden;
}

.img-1 {
  grid-area: img1;
}

.img-1 img {
  height: 220%;
}

.img-2 {
  grid-area: img2;
}

.img-2 img {
  width: 200%;
}

.img-3 {
  grid-area: img3;
}

.img-3 img {
  height: 220%;
}

.img-4 {
  grid-area: img4;
}

.img-4 img {
  height: 200%;
}

.img-5 img {
  height: 100%;
}

.img-5 {
  grid-area: img5;
}

.img-6 {
  grid-area: img6;
}

.img-6 img {
  height: 100%;
}

.grid-galeria img {
  width: 300px;
}

/* -------------responsive---------- */
/* mobile last max width */
/* tablet */
@media (max-width: 769px) {
  h1 {
    background-color: maroon;
    color: black;
  }
  .tay_merch {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 375px) {
  .tay_merch {
    grid-template-columns: 1fr;
  }
}
.gif-redondo {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100px;
}

.imagenes-tay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  justify-content: center;
  filter: drop-shadow(0px 7px 21px yellowgreen);
  animation: rotar 5s linear infinite;
  width: 200px;
}

.imagenes-tay {
  cursor: pointer;
}

@keyframes rotar {
  from {
    transform: rotatey(180deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
* {
  font-family: "briem-hand", cursive;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "links1 logo link2";
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/786358213601312147/F45F553B7D439EB1B74668FA44FF7B18969D9C9C/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6px;
  margin: auto;
  align-items: end;
}

.links1 {
  grid-area: links1;
}

.logo {
  grid-area: logo;
}

.logo img {
  width: 250px;
}

.link2 {
  grid-area: link2;
}

.nav ul, .logo {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

.nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

/* .main-pf div:not(.padre) {
    background-color: antiquewhite;
    padding-left: 40px;

} */
@media (max-width: 200px) {
  .nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.imgp {
  margin-top: 30px;
  margin: 20px;
  width: 300px;
  height: 250px;
  animation-name: tay;
  animation-duration: 80s;
}

@keyframes tay {
  0% {
    transform: translateY(30);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */