/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: none;
    /* Agrega un color de fondo suave */
}

.container {
    max-width: 1200px;
    /* Limita el ancho máximo del contenido */
    margin: 0 auto;
    /* Centra el contenido horizontalmente */
    padding: 20px;
    background-color: none;
    /* Agrega un fondo blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Agrega una sombra suave al contenedor */
}

/* Estilos para los álbumes */
.album-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

.album-container iframe {
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Agrega una sombra suave a los iframes */
    transition: transform 0.3s ease;
    /* Agrega una transición suave al hover */
}

.album-container iframe:hover {
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño al pasar el ratón */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    /* Cambia el color del título a un tono más oscuro */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    /* Agrega un efecto de sombra al texto */
}