* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}






.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "links1 logo link2";
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/786358213601312147/F45F553B7D439EB1B74668FA44FF7B18969D9C9C/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6px;
    margin: auto;
    align-items: end;


}

.links1 {
    grid-area: links1;
}

.logo {
    grid-area: logo;

}

.logo img {
    width: 250px;
}

.link2 {
    grid-area: link2;
}

.nav ul, .logo{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 0 10px;
}



.nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

/* .main-pf div:not(.padre) {
    background-color: antiquewhite;
    padding-left: 40px;

} */

@media (max-width: 200px){
    .nav{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
}




