/* Estilos generales */
:root {
    --color-primary: #db97cc;
    --color-secondary: #740f49;
    --color-background: #ddd6f8;
    --color-text: #333;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url(https://preview.redd.it/c8qn8a1gdut21.jpg?vthumb=1&s=da717d09a908225fd35f3b02ccbbec725aae0e47);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}


.navbar {
    background-color: pink;
    box-shadow: 0 2px 4px rgba(224, 102, 173, 0.1);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #050505;
}

.navbar-brand:hover {
    color: var(--color-primary);
}

.nav-link {
    font-size: 18px;
    color: var(--color-primary);
}

.nav-link:hover {
    color: #720e4c;
}


.mb-4 {
    margin-bottom: 40px;
}

/* Estilos para los títulos */
h2,
h3 {
    color: var(--color-secondary);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

/* Estilos para la sección de explicación del tour */
.explicacion-eras {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--color-background);
    padding: 20px;
    display: flex;
    align-items: center;
}

.explicacion-eras img {
    border-radius: 8px;
    flex: 0 0 150px;
    margin-right: 10px;
    width: 30%;
}

.explicacion-eras h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.explicacion-eras p {
    font-size: 18px;
    color: #555;
}

/* Estilos para la sección de duración del tour */
.giff {
    border-radius: 8px;
    width: 30%;
}


