.grid-galeria {
    display: grid;
    grid-template-areas:
        "img1 img1 img2 img2 "
        "img3 img4 img4 img5 "
        "img3 img6 img6 img5 "
    ;
    grid-template-rows: repeat(1, 100px);
    grid-template-columns: repeat(3, 100px);


}

.grid-galeria div {
    overflow: hidden;
}

.img-1 {
    grid-area: img1;


}

.img-1 img {
    height: 220%;
}

.img-2 {
    grid-area: img2;


}

.img-2 img {
    width: 200%;
}

.img-3 {
    grid-area: img3;

}

.img-3 img {
    height: 220%;
}

.img-4 {
    grid-area: img4;

}

.img-4 img {
    height: 200%;

}

.img-5 img {
    height: 100%;

}

.img-5 {
    grid-area: img5;

}

.img-6 {
    grid-area: img6;

}

.img-6 img {
    height: 100%;

}

.grid-galeria img {
    width: 300px;
}

/* -------------responsive---------- */
/* mobile last max width */

/* tablet */
@media (max-width:769px) {
    h1 {
        background-color: maroon;
        color: black;

    }

    .tay_merch {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (max-width: 375px) {
    .tay_merch {
        grid-template-columns: 1fr;

    }
}
.gif-redondo {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100px;
}
.imagenes-tay{
    width: 200px;
    background-color: none;
    justify-content: center;
    filter: drop-shadow(0px 7px 21px yellowgreen);
    animation: rotar 5s linear infinite;
    

}
.imagenes-tay{
    cursor: pointer;
}
@keyframes rotar{
    from{
        transform: rotatey(180deg);
    }
    to{
        transform: rotateY(360deg)
    }
}
